html body {
    padding: 0px;
    margin: 0px;
}

main {
    margin-top: 20px;
}

p {
    text-align: left;
}

h5 {
    margin-top: 14px;
    margin-bottom: 14px;
}

.card-div {
    /* display: inline-block; */
    margin: 10px auto 10px auto;
    padding: 5px;
    border: solid grey 2px;
    width: 400px;
    text-align: center;
}

.container {
    text-align: center;
}